:root {
    --fuentePrincipal: "Montserrat", system-ui;
    --negro: #000;
    --blanco: #fff;
    --azulPrimario: #5852f8;
    --azulSecundario: #241fcf;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*!UTILIDADES  */

.text-center {
    text-align: center;
}

.no-margin {
    margin: 0;
}

.no-pading {
    padding: 0;
}


/* !Globales */
html {
    font-size: 62.5%;
    box-sizing: border-box;

    scroll-behavior: smooth;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    width: 95%;
    margin: 0 auto;
}


@media (min-width: 768px) {
    body {
        width: 100%;
    }

    .padre-santo {
        width: 70%;
        margin: 1rem auto;
    }

}

@media (min-width: 1024px) {
    body {
        width: 100%;
    }

    .padre-santo {
        width: 50%;
        margin: 1rem auto;
    }
}

h1,
h2,
h3 {
    font-weight: bold;
    text-transform: capitalize;
    color: var(--azulPrimario);

}

h1 {
    font-size: 3.4rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2.2rem;
}

li {
    list-style: none;
    color: var(--azulSecundario);
    text-transform: capitalize;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: var(--azulSecundario);
}


/*!NAV  */

.navegacion {
    display: none;
}

.contenedor {
    height: 5rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 1.4rem;
}

.contenedor__menu-mbl {
    height: 100%;
    display: flex;
    justify-content: end;

}

.svg-nav-bar {
    height: 100%;
    width: 3rem;
}

@media (min-width: 1024px) {
    .navegacion {
        display: flex;
        gap: 3rem;
        align-items: center;
    }

    .contenedor {
        justify-content: center;
    }

    .nav-item {
        transition: font-size 0.3s ease;

        border-left: 1px solid var(--negro);
        border-image: linear-gradient(to bottom, transparent 30%, var(--azulSecundario) 10%, var(--azulPrimario) 90%, transparent 70%);
        border-image-slice: 1;
        padding-left: 1rem;

    }

    .nav-item:first-child {
        border-left: none;
    }

    .nav-item:hover {
        cursor: pointer;
        font-size: 2.3rem;

    }

    .contenedor__menu-mbl {
        display: none;
    }

    .contenedor {
        justify-content: center;
        margin-top: 2rem;
    }
}

/* !CABECERA */

.contenido-principal {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto 20rem;
    justify-items: center;
    align-items: center;
}


.titulo-prs {
    margin-top: 0.3rem;
    grid-column: 1/3;
}

.presentacion-img {
    height: 100%;
    width: 90%;
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;

}

.imagen-autor {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 1.2rem;
}

.iconos-redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.redes__psr {
    display: flex;
    border: 0.1rem solid grey;
    border-radius: 0.8rem;
}

.redes-psr:hover {
    cursor: pointer;
}

h1 {
    margin-bottom: 0rem;
}

.redes__svg {
    width: 3rem;
    height: 3rem;
}


@media (min-width: 1024px) {

    .contenido-principal {
        display: grid;
        grid-template-rows: 10rem auto;
        justify-items: center;
        align-items: center;
    }

    .presentacion-img {
        margin-top: 4rem;
        grid-row: 1/3;
        width: 80%;
        height: 100%;

    }

    .titulo-prs {
        grid-column: 1/2;
    }

    .contenido-principal__visual {
        margin-top: -1rem;
    }

}


/*!SOBRE MI  */


/*!ESTUDIOS  */

.sobre-mi__Estudios {
    background-image: url(../img/5594016.jpg);
    background-size: cover;
    border-radius: 0.5rem;
    max-width: 100%;
    margin: 2rem auto;
    padding: 1rem;
    padding-bottom: 3rem;
}

.estudios__title {
    color: var(--blanco);
}

.contenedor__estudios,
.estudios,
.sobre-mi__Estudios {
    position: relative;
}

.contenedor__estudios {
    width: 100%;
    padding: 1rem;
}

.estudios {
    padding: 1rem 1.5rem;
    background: var(--azulPrimario);
    border-radius: 1rem;
    font-size: 1.6rem;
}

@media (min-width: 768px) {
    .contenedor__estudios {
        padding: 1rem 2rem;
        width: 50%;
    }

    .contenedor__estudios--izq {
        left: 0;
    }

    .contenedor__estudios--drc {
        left: 50%;
    }

    .estudios {
        font-size: 1.8rem;
        padding: 1.5rem 2.5rem;
    }

    .sobre-mi__Estudios {
        border-radius: 1rem;
    }
}

@media (min-width: 1024px) {
    .contenedor__estudios {
        width: 50%;
        padding: 1rem 5rem;
    }



    .estudios {
        padding: 2rem 3rem;
        font-size: 2rem;
    }

    .sobre-mi__Estudios {
        max-width: 120rem;
        margin: 4rem auto;
        padding: 1rem;
        padding-bottom: 3rem;
    }
}


/*!PROYECTOS  */


/*!HABILIDADES  */



/*!FOOTER  */